__pycache__/
*.py[cod]
.pytest_cache
*.egg-info
*.log
*.egg
middleware_info.json
samples/object_detector/data
log
*_middleware.cfg
*_mosquitto.conf
*_init.sh
build
dist
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.tiff
!**/img/*
*.wav
*.mp3
*.mp4
.DS_store
simulation_*_*

.matter_server
.test_matter_server
.test_matter_server2
*_kvs*
Pipfile
Pipfile.lock
